body{
	font-family: Arial, sans-serif;
	background-color: #fafefd;
}

.loader{
	width: 70px;
	height: 70px;
	border: 10px solid rgba(209, 120, 2, 0.6);
	border-radius: 50%;
	border-left-color: #d17802;	
	margin: 470px 890px;
    -webkit-animation: loader 1s linear infinite;
       -moz-animation: loader 1s linear infinite;
         -o-animation: loader 1s linear infinite;
            animation: loader 1s linear infinite;
	 
}
@keyframes loader{
	100%{
		transform: rotate(360deg);
	}
}

nav{
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
	z-index: 500;
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 388px;
	float: left;
	-webkit-animation: coming 2s ease;
	   -moz-animation: coming 2s ease;
	     -o-animation: coming 2s ease;
	        animation: coming 2s ease;
}

.menu{
	float: left;
	padding-left: 430px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
	-webkit-animation: topshift 0.4s ease forwards;
	   -moz-animation: topshift 0.4s ease forwards;
	     -o-animation: topshift 0.4s ease forwards;
	        animation: topshift 0.4s ease forwards;
	opacity: 0;
}

.main{
	width: 100%;
	height: 100%;
	background: url(../img/shadow.png) 90% 104% no-repeat, url(../img/man.png) 90% 100%/auto 85% no-repeat , url(../img/bgg.jpg) center/cover no-repeat;
}

.title__container{
	float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
       -moz-animation: titlemove 1s ease forwards;
         -o-animation: titlemove 1s ease forwards;
            animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 0.8s;
       -moz-animation-delay: 0.8s;
         -o-animation-delay: 0.8s;
            animation-delay: 0.8s;
}

.title__container h1{
	font-size: 60px;
	font-weight: bold;
}

.title__container h4{
	margin-top: 37px;
	font-size: 20px;
	color: #79818d;
}

.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6D7682;
	font-size: 15px;
	padding: 0px 16px 0px 16px;
	margin: 50px 14px 0px 14px;
}

body h3{
	padding-top: 108px;
	font-size: 25px;
	color: #263244;
	text-align: center;
}

.horizontal-line{
	width: 70px;
	height: 4px;
	background-color: #d17700;
	margin: 30px 0px 0px 920px;
	border-radius: 1px;
	-webkit-animation: zagolovki 2s ;
	   -moz-animation: zagolovki 2s ;
	     -o-animation: zagolovki 2s ;
	        animation: zagolovki 2s ;
	-webkit-animation-iteration-count: infinite;
	   -moz-animation-iteration-count: infinite;
	     -o-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

.radius_img{
	background: url(../img/radiusman.png);
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
	margin: 60px 0px 0px 860px;
}

.text_radius_img{
	margin: 25px 570px 0px 620px;
	color: #3f495a;
}

.rezume{
	width: 157px;
	height: 34px;
	border: 2px solid;
	margin: 40px 0px 0px 880px;
	border-radius: 6px;
	background: url(../img/icone.png) no-repeat 8px 7px;
	color: #6f707e;
	text-indent: 17px;
	font-size: 14px;
	font-weight: bold;
}

.chto_ya_umeu{
	background: url(../img/fon.png) fixed;
	width: 100%;
	height: 60%;
	border: none;
	background-position: 0px 34px;
}

.ikonki{
	float: left;
	width: 300px;
	text-align: center;
}

.nout{
	margin: 110px 0px 0px 495px;	
}

        .cvet{
  	     color: #cf7600;
  	     font-weight: bold;
  	     margin: 35px 0px 0px 481px;
  	     white-space: nowrap;
         }

        .text{
  	     margin: 17px 0px 0px 418px;
  	     text-align: center;
  	     white-space: nowrap;
  	     color: #3f495a;
         }

.znak{
	margin: 110px 0px 0px 495px;	
}

        .cvett{
  	     color: #cf7600;
  	     font-weight: bold;
  	     margin: 30px 0px 0px 481px;
  	     white-space: nowrap;
         }

        .textt{
  	     margin: 17px 0px 0px 418px;
  	     color: #3f495a;
  	     white-space: nowrap;
         }

.raketa{
	margin: 110px 0px 0px 495px;	
}

        .cvettt{
  	     color: #cf7600;
  	     font-weight: bold;
  	     margin: 22px 0px 0px 481px;
  	     white-space: nowrap;
         }

         .texttt{
  	      margin: 17px 0px 0px 418px;
  	      color: #3f495a;
  	      white-space: nowrap;
         }

.grammofon{
	margin: 110px 0px 0px 495px;	
}

        .cvetttt{
  	     color: #cf7600;
  	     font-weight: bold;
  	     margin: 24px 0px 0px 481px;
  	     white-space: nowrap;
         }

         .textttt{
  	      margin: 17px 0px 0px 418px;
  	      color: #3f495a;
  	      white-space: nowrap;
         }

.foncases{
	height: 275px;
	background: url(../img/foncases.jpg) 100% 100% repeat;    
}

.text_cases{
	padding: 38px 0px 0px 655px;
	color: #3f495a;
}

.bigpicture{
	margin: 0px 0px 0px 375px;
}

.klass{
	float: left;
	width: 300px;
	text-align: center;	
}
        .client{
         margin: 38px 0px 0px 375px;
         color: #384354;
         font-weight: bold;	
         white-space: nowrap;
         font-size: 16px;
         }
            .clientp{
             margin: 15px 0px 0px 375px;	
             white-space: nowrap;
             color: #3F495A;
             }

        .website{
         margin: 15px 0px 0px 375px;
         color: #384354;
         font-size: 16px;
         font-weight: bold;
         }  
             .websitep{
             	margin: 15px 0px 0px 375px;
             	white-space: nowrap;
             	color: #3F495A;
             }

        .nazvanie{
         margin: 38px 0px 0px 375px;
         white-space: nowrap;
         color: #384354;
         font-size: 16px;
         font-weight: bold;
         }
             .nazvaniep{
             	margin: 13px 0px 0px 375px;
             	white-space: nowrap;
             	color: #3F495A;
             	line-height: 20px;
             }

.visit input{
	margin: 25px 1431px 0px 375px;
	border: 1px solid;
	border-color: #63b5ae;
	background: #63B5AE;
	height: 44px;
	width: 201px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
}    

.stoimost{
	margin: 209px 0px 0px 805px;
	font-size: 35px;
	color: #1c2534;	
}        

.tip_saita{
	margin: 58px 0px 0px 500px;
	color: #1C2534;
	font-size: 22px;
}

.select{
	margin: 22px 0px 0px 0px;
	height: 58px;
	width: 889px;
	color: #737373;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 0px 0px 23px;
	padding-right: 1.2em;
	appearance: none;
	background: url(../img/arroww.png) no-repeat #eeeeee;
	background-position: 844px 27px;
}

.horizontal-linee{
	width: 890px;
	height: 2px;
	background-color: #d1d1d1;
	margin: 36px 0px 0px 500px;
}

.sroki{
	margin: 25px 0px 0px 504px;
	word-spacing: 817px;
	color: #1c2534;
	font-size: 18px;
}

.nesroki{
	margin: 25px 0px 0px 504px;
	word-spacing: 778px;
	color: #1c2534;
	font-size: 18px;
}

.statistika{
	margin-top: 153px;
	background: url(../img/statistika.jpg);
	background-attachment: fixed;
	height: 60%;
	width: 100%;
}

.smile{
	margin: 83px 0px 0px 495px;
}
    .one{
    	margin: 28px 0px 0px 487px;
    	font-size: 35px;
    	font-weight: 900;
    	letter-spacing: -2px;
    	color: #323e4f;
    }
    .text_one{
    	margin: 29px 0px 0px 440px;
    	white-space: nowrap;
    	color: #323e4f; 	
    }

.skobki{
	margin: 88px 0px 0px 483px;
}
    .two{
    	margin: 28px 0px 0px 487px;
    	font-size: 35px;
    	font-weight: 900;
    	letter-spacing: -2px;
    	color: #323e4f;
    }
    .text_two{
    	margin: 29px 0px 0px 477px;
    	white-space: nowrap;
    	color: #323e4f; 	
    }

.galochka{
	margin: 88px 0px 0px 480px;
}
    .three{
    	margin: 25px 0px 0px 473px;
    	font-size: 35px;
    	font-weight: 900;
    	letter-spacing: -2px;
    	color: #323e4f;
    }
    .text_three{
    	margin: 29px 0px 0px 430px;
    	white-space: nowrap;
    	color: #323e4f; 	
    }

.kubok{
	margin: 88px 0px 0px 470px;
}
    .four{
    	margin: 22px 0px 0px 478px;
    	font-size: 35px;
    	font-weight: 900;
    	letter-spacing: -2px;
    	color: #323e4f;
    }
    .text_four{
    	margin: 29px 0px 0px 440px;
    	white-space: nowrap;
    	color: #323e4f; 	
    }

.otzivi_picture{
	margin: 58px 0px 0px 905px;
}

.text_otzivi{
	margin: 36px 0px 0px 0px;
	text-align: center;
	color: #243042;
}

.secondtext_otzivi{
	margin: 40px 0px 0px 0px;
	text-align: center;
	color: #243042;
}

.tochki{
	float: left;
	width: 5px;
	text-align: center;
	
}
.tochkiO{
	margin: 50px 0px 0px 915px;
}
.tochkiOO{
	margin: 50px 0px 0px 940px;
}
.tochkiOOO{
	margin: 50px 0px 0px 965px;
}

.mycontacts{
	margin: 196px 0px 0px 0px;
	background: url(../img/mycontacts_fone.jpg) no-repeat;
	width: 100%;
	height: 89%;
	background-position: 0px 5px; 
}

.color_white{
	color: #FFF;
}

.text_mycontacts{
	color: #FFF;
	text-align: center;
	margin: 35px 0px 0px 0px;
}

.ikonkii{
	float: left;
	text-align: center;
	width: 300px;
}

   .geo{
   	 margin: 47px 0px 0px 680px;
    }
        .geo_text{
        	color: #FFF;
        	margin: 15px 0px 0px 632px;
        	white-space: nowrap;
        	line-height: 22px;
        }
   
   .konvert{
   	 margin: 47px 0px 0px 640px;
    }
        .konvert_text{
        	color: #FFF;
        	margin: 15px 0px 0px 585px;
        	white-space: nowrap;
        }
   
   .telefon{
   	 margin: 47px 0px 0px 600px;
    }
        .telefon_text{
        	color: #FFF;
        	margin: 15px 0px 0px 555px;
        	white-space: nowrap;
        }
 
 .sms{
 	margin: 155px 0px 0px 838px;
 	color: #fff;
 	font-size: 18px;
 }

 .name{
 	height: 32px;
 	width: 352px;
 	padding: 0px 0px 0px 13px;
 	margin: 44px 0px 0px 594px;
 	opacity: 84%;
 }

.email{
 	height: 32px;
 	width: 352px;
 	padding: 0px 0px 0px 13px;
 	margin: 44px 0px 0px 29px;
 	opacity: 84%;
 }

 .text_sms{
 	margin: 14px 0px 0px 594px;
 	height: 95px;
 	width: 737px;
 	opacity: 84%;
 	padding: 10px 0px 0px 13px;
 	font-size: 15px;
 	resize: none;
 }

 .otpravit{
 	margin: 28px 0px 0px 898px;
 	border: 1px solid white;
 	background: none;
 	color: #FFF;
 	height: 46px;
 	width: 125px;
 	border-radius: 5px;
 	font-size: 17px;
 }

.map{
	background: url(../img/map.jpg) no-repeat;
	height: 38.5%;
	width: 100%;
}

.text_map{
	border: 1px solid white;
	height: 48px;
	width: 135px;
	margin: 129px 0px 0px 864px;
	background: #FFF;
	box-shadow: 0 10px 10px -3px #a7baa1;
	padding: 16px 0px 0px 32px;
	font-weight: bold;
	font-size: 16px;
	-webkit-animation: here 1s;
	   -moz-animation: here 1s;
	     -o-animation: here 1s;
	        animation: here 1s;
}

.end{
	border: 1px solid #354051;
	background: #354051;
	height: 91px;
	width: 100%;
}

p.text_end{
	color: #FFF;
	margin: 40px 0px 0px 820px;
	font-size: 15px;
	
}

.menu li a{
	transition: all, 0.1s;
	color: white;
    transform: scale(1);
    display: inline-block;
    z-index: 500;
}

.menu li a:visited{
	color: white;
	z-index: 500;
}

.menu li a:hover{
	color: #ee8d0d;
	z-index: 500;
}

.menu li a:active{
	transform: scale(1.1);
	z-index: 500;
}

main{
	width: 100%;
	height: 100%;
}

.title__container input{
	transition: all 0.2s;
	transform: scale(1);	
}

.title__container input:hover{
	background: #2c384a;
	color: white;
	transform: scale(1.07);
}

.title__container input:active{
	transform: scale(1.14);
}

@keyframes coming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes topshift{
	
	from{
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0;
	}
}

.menu li:nth-child(2){
	animation-delay: 0.4s;	  
}
.menu li:nth-child(3){
	animation-delay: 0.8s;	  
}
.menu li:nth-child(4){
	animation-delay: 1.2s;	  
}
.menu li:nth-child(5){
	animation-delay: 1.6s;	  
}
.menu li:nth-child(6){
	animation-delay: 2s;	  
}

@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -500px;
	}
	to{
		opacity: 1;
		margin-left: 404px;
	}
}

input.rezume{
	transition: all 0.2s;
	transform: scale(1);
}
input.rezume:hover{
	transform: scale(1.05);		
}
input.rezume:active{
	transform: scale(1.12);		
}


input.site{
	transition: all 0.2s;
	transform: scale(1);
}
input.site:hover{
	transform: scale(1.05);		
}
input.site:active{
	transform: scale(1.12);	
	background: #ee8d0d;
	border: #EE8D0D;	
}


input.otpravit{
	transition: all 0.2s;
	transform: scale(1);
}
input.otpravit:hover{
	transform: scale(1.05);		
}
input.otpravit:active{
	transform: scale(1.12);		
}


.select{
	transition: all 0.2s;
	transform: scale(1);
}
.select:hover{
	transform: scale(1.03);		
}


@keyframes zagolovki{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}



