body{
	padding: 50px;
}

.box{
	width: 200px;
	height: 200px;
	border: 2px solid black;
	background-color: azure;
	transition-duration: 2s;
	transition-timing-function: cubic-bezier(.24,.65,.85,.04);
}

.box span{
	display: block;
	text-align: center;
	margin: 90px;
}

.box:hover{
	background-color: green;
	margin-left: 100px;
}