

body {
    background: #ddd;
}
.container-calc {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family:'Segoe UI';
    padding: 25px 0;
}
.container-calc > h2 {
    font-size: 24px;
    font-weight: 700;
    color: #c00;
}
.calc-item {
    padding: 10px 0;
}
.calc-item:nth-of-type(even) {
    background: #f7f7f7;
}
.calc-item h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
#total {
    font-size: 26px;
    font-weight: 700;
}
#time {
    font-size: 26px;
    font-weight: 700;
}



